   <!-- partner area -->
        <div class="partner-area bg pt-60 pb-60">
            <div class="container">
                <div class="partner-wrapper partner-slider">
                    <owl-carousel-o [options]="logoSlide">
                        <ng-template carouselSlide *ngFor="let logo of logos">
                             <img [src]="logo" alt="thumb" loading="lazy">
                        </ng-template>
                     </owl-carousel-o>                  
                </div>
            </div>
        </div>
        <!-- partner area end -->