<div class="site-breadcrumb" style="background: url(../../../assets/img/portfolio/02.jpg)">

<div class="container heroslider-abt">
    <div class="row align-items-center">
        <div class="col-md-12">
             <!-- <div  class="icon"><img  src="assets/img/icon/construction.svg" alt=""></div> -->
            <div class="hero-content">
                <h2 class="hero-title" data-animation="fadeInRight" data-delay=".50s" [innerHTML]="heroTitleHtml">
                </h2>
            </div>
        </div>
    </div>   
            </div>
        </div>
        <app-aboutsection></app-aboutsection>
        <app-projectskills></app-projectskills>
        <app-workingprocess></app-workingprocess>
        <div class="testimonial-area ts-bg pt-90 pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="site-heading wow fadeInDown" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInDown;">
                            <span class="site-title-tagline"><i class="far fa-helmet-safety"></i> Testimonials</span>
                            <h2 class="site-title text-white">What Our Client <span>Say's</span> about us</h2>
                            <!-- <p class="text-white">
                                It is a long established fact that a reader will be distracted by the readable content
                                of a page when Internet tend to repeat predefined chunks.
                            </p> -->
                            <a href="contact.html" class="theme-btn mt-30">Know More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="testimonial-slider  owl-theme wow fadeInUp owl-loaded owl-drag" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">                            
                        
                        <owl-carousel-o [options]="aboutTestimonial">
                            <ng-template carouselSlide *ngFor="let item of testimonialItems">
                                   <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <div class="testimonial-author-img">
                                        <img [src]="item.authorImage" alt="">
                                    </div>
                                    <div class="testimonial-author-info">
                                        <h4>{{ item.authorName }}</h4>
                                        <p>{{ item.authorRole }}</p>
                                        <div class="testimonial-rate">
                                            <i class="fas fa-star" *ngFor="let star of [].constructor(item.rating)"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-quote">
                                    <div class="testimonial-quote-icon">
                                        <img src="../../../assets/img/icon/quoteab.svg" alt="">
                                    </div>
                                     <p class="review-cnt" [innerHTML]="item.quote"></p>
                                </div>
                            </div>
                            </ng-template>

                        </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="mb-60">
            <app-team></app-team>
        </div>