<app-banner></app-banner>
<app-projectskills></app-projectskills>
<!-- <app-featurearea></app-featurearea> -->
<app-aboutsection></app-aboutsection>
<app-servicesection></app-servicesection>
<app-workingprocess></app-workingprocess>
<!-- <app-ourskills></app-ourskills> -->
<app-homeportfolio></app-homeportfolio>
<app-pricing></app-pricing>

<app-whychooseus></app-whychooseus>
<app-team></app-team>
<app-requestquote></app-requestquote>
<app-faq></app-faq>
<app-homeblog></app-homeblog>
