     <!-- choose area -->
        <div class="choose-area py-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="choose-content wow fadeInUp" data-wow-delay=".25s">
                            <div class="site-heading mb-0">
                                <span class="site-title-tagline"><i class="far fa-helmet-safety"></i> {{ data?.tagline }}</span>
                                <h2 class="site-title" [innerHTML]="titleHtml"></h2>
                                <p>
                                   {{ data?.text }}
                                </p>
                            </div>
                            <div class="choose-content-wrap">
                                <div class="choose-item" *ngFor="let item of data?.items">
                                    <div class="choose-item-icon" *ngIf="item.icon">
                                        <img [src]="item.icon" [alt]="item.title || ''" loading="lazy">
                                    </div>
                                    <div class="choose-item-info">
                                        <h4>{{ item.title }}</h4>
                                        <div class="choose-text cms-rich-text" [innerHTML]="item.text | richText"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="choose-img wow fadeInRight" data-wow-delay=".25s" *ngIf="data as d">
                            <img class="img-1" [src]="d.image1.url"
                                 [srcset]="d.image1.url | cldSrcset:'content'" [attr.sizes]="'content' | cldSizes"
                                 [attr.width]="d.image1.width || null" [attr.height]="d.image1.height || null"
                                 alt="" loading="lazy" decoding="async">
                            <img class="img-2" [src]="d.image2.url"
                                 [srcset]="d.image2.url | cldSrcset:'content'" [attr.sizes]="'content' | cldSizes"
                                 [attr.width]="d.image2.width || null" [attr.height]="d.image2.height || null"
                                 alt="" loading="lazy" decoding="async">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- choose area end -->