     <!-- choose area -->
        <div class="choose-area py-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="choose-content wow fadeInUp" data-wow-delay=".25s">
                            <div class="site-heading mb-0">
                                <span class="site-title-tagline"><i class="far fa-helmet-safety"></i> {{ data?.tagline }}</span>
                                <h2 class="site-title" [innerHTML]="titleHtml"></h2>
                                <p>
                                   {{ data?.text }}
                                </p>
                            </div>
                            <div class="choose-content-wrap">
                                <div class="choose-item" *ngFor="let item of data?.items">
                                    <div class="choose-item-icon">
                                        <img [src]="item.icon" alt="" loading="lazy">
                                    </div>
                                    <div class="choose-item-info">
                                        <h4>{{ item.title }}</h4>
                                        <p [innerHTML]="item.text"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="choose-img wow fadeInRight" data-wow-delay=".25s">
                            <img class="img-1" [src]="data?.image1" alt="" loading="lazy">
                            <img class="img-2" [src]="data?.image2" alt="" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- choose area end -->