 <!-- about area -->
        <div class="about-area py-120 mb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-left wow fadeInLeft" data-wow-delay=".25s">
                            <div class="about-img">
                                <img class="img-1" [src]="about?.image1" alt="" loading="lazy">
                                <img class="img-2" [src]="about?.image2" alt="" loading="lazy">
                            </div>
                            <div class="about-experience">
                                <h5>{{ about?.experienceYears }}<span>+</span></h5>
                                <p>{{ about?.experienceLabel }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-right wow fadeInUp" data-wow-delay=".25s">
                            <div class="site-heading mb-3">
                                <span class="site-title-tagline"><i class="far fa-helmet-safety"></i> {{ about?.tagline }}</span>
                                <h2 class="site-title" [innerHTML]="titleHtml"></h2>
                            </div>
                            <div class="about-text" [innerHTML]="about?.paragraphs"></div>

                            <a [routerLink]="'/about'" [routerLinkActive]="'active'" class="theme-btn">Discover More<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about area end -->