 <!-- portfolio area -->
        <div class="portfolio-area pt-80 pb-120">
            <div class="pa-bg" style="background-image: url(assets/img/portfolio/bg.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline"><i class="far fa-helmet-safety"></i> Our Portfolio</span>
                            <h2 class="site-title text-white">Let's check our latest portfolio</h2>
                        </div>
                    </div>
                </div>
                <div class="row popup-gallery">
                    <div class="portfolio-slider">
                        <owl-carousel-o [options]="portfolioSlide">
                            <ng-template carouselSlide *ngFor="let image of images">
                                <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img class="img-fluid" [src]="image" alt="" loading="lazy">
                                <a class="popup-img portfolio-link" [href]="image"> <i class="far fa-plus"></i></a>
                            </div>
                        </div>
                            </ng-template>
                        </owl-carousel-o>
                        
                        
                        
                       
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- portfolio area end -->