 <!-- service area -->
        <div class="service-area sa-bg pt-60 pb-80">
            <div class="container">
                <div class="row g-4 align-items-center wow fadeInDown" data-wow-delay=".25s">
                    <div class="col-lg-6">
                        <div class="site-heading mb-0">
                            <span class="site-title-tagline"><i class="far fa-helmet-safety"></i> {{ tagline }}</span>
                            <h2 class="site-title text-white" [innerHTML]="titleHtml"></h2>
                        </div>
                    </div>
                   
                    
                </div>
                <div class="row service-slider  mt-4 wow fadeInUp" data-wow-delay=".25s">
                    <div class="col-lg-4 col-12 col-sm-6 col-md-4" *ngFor="let item of items; let i = index">
                        <div class="service-item">
                        <span class="count">{{ (i + 1) < 10 ? '0' + (i + 1) : (i + 1) }}</span>
                        <div class="service-img">
                            <img [src]="item.image" alt="" loading="lazy">
                        </div>
                        <div class="service-icon">
                            <img [src]="item.icon" alt="" loading="lazy">
                        </div>
                        <div class="service-content">
                            <h4 class="service-title">
                               {{ item.title }}
                            </h4>
                            <p class="service-text" [innerHTML]="item.text"></p>
                        </div>
                    </div>
                     </div>

                     <div class="text-center services-btn">
                        <a [routerLink]="'/services'" class="theme-btn">Get More Services<i class="fas fa-arrow-right"></i></a>
                    </div>
                    
                </div>
            </div>
        </div>

      
        <!-- service area end -->
