<div class="site-breadcrumb" style="background: url(../../../assets/img/portfolio/01.jpg)">
           <div class="container heroslider-abt">
    <div class="row align-items-center">
        <div class="col-md-12">
             <!-- <div  class="icon"><img  src="assets/img/icon/sustainability.svg" alt=""></div> -->
            <div class="hero-content">
                
                <h2 class="hero-title" data-animation="fadeInRight" data-delay=".50s" [innerHTML]="heroTitleHtml">
                </h2>
                
                
            </div>
        </div>
    </div>   
            </div>
        </div>

        <div class="service-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center wow fadeInDown" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInDown;">
                            <span class="site-title-tagline"><i class="far fa-helmet-safety"></i> {{ tagline }}</span>
                            <h2 class="site-title" [innerHTML]="titleHtml"></h2>
                            <div class="heading-divider"></div>
                        </div>
                    </div>
                </div>
                <div class="row g-4 wow fadeInUp" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">
                    <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let item of items; let i = index">
                        <div class="service-item">
                            <span class="count">{{ (i + 1) < 10 ? '0' + (i + 1) : (i + 1) }}</span>
                            <div class="service-img">
                                <img [src]="item.image" alt="" loading="lazy">
                            </div>
                            <div class="service-icon">
                                <img [src]="item.icon" alt="" loading="lazy">
                            </div>
                            <div class="service-content">
                            <h4 class="service-title">
                               <a *ngIf="item.slug; else plainTitle" [routerLink]="['/services', item.slug]">{{ item.title }}</a>
                               <ng-template #plainTitle>{{ item.title }}</ng-template>
                            </h4>
                            <p class="service-text" [innerHTML]="item.text"></p>
                            <a *ngIf="item.slug" class="theme-btn" [routerLink]="['/services', item.slug]">Learn More<i class="fas fa-arrow-right"></i></a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




         