<ng-container *ngIf="category">

  <div class="site-breadcrumb" style="background: url(../../../assets/img/portfolio/02.jpg)">
    <div class="container">
      <h2 class="breadcrumb-title">{{ category.name }}</h2>
      <ul class="breadcrumb-menu">
        <li><a routerLink="/">Home</a></li>
        <li class="active">{{ category.name }}</li>
      </ul>
    </div>
  </div>

  <div class="blog-area py-120">
    <div class="container">

      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <div class="site-heading text-center">
            <span class="site-title-tagline"><i [class]="category.icon || 'far fa-helmet-safety'"></i> Guides</span>
            <h1 class="site-title">{{ category.name }} <span>Guides</span></h1>
            <div class="heading-divider"></div>
          </div>
          <p *ngIf="category.description">{{ category.description }}</p>
        </div>
      </div>

      <div class="row g-4 mt-2">
        <div class="col-md-6 col-lg-4" *ngFor="let item of pages">
          <div class="blog-item blog-item-clickable wow fadeInUp">
            <a class="blog-item-stretched-link" [routerLink]="['/' + category.slug, item.slug]" [attr.aria-label]="item.title"></a>
            <div class="blog-item-img" *ngIf="item.coverImage">
              <img [src]="item.coverImage" [alt]="item.title" loading="lazy">
            </div>
            <div class="blog-item-info">
              <h4 class="blog-title">
                <a [routerLink]="['/' + category.slug, item.slug]">{{ item.title }}</a>
              </h4>
              <p [innerHTML]="item.excerpt"></p>
              <a class="theme-btn" [routerLink]="['/' + category.slug, item.slug]">Read Guide<i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-12" *ngIf="pages.length === 0">
          <p class="text-center">More {{ category.name }} guides are on the way.</p>
        </div>
      </div>

      <div class="row" *ngIf="hasMore">
        <div class="col-12 text-center mt-4">
          <button type="button" class="theme-btn" (click)="loadMore()" [disabled]="loadingMore">
            {{ loadingMore ? 'Loading…' : 'Load More' }}<i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-8 mx-auto text-center">
          <div class="widget">
            <h4 class="widget-title">Ready to talk to our {{ category.name }} team?</h4>
            <p>Get a personalised quote, or see how we deliver {{ category.name | lowercase }} projects end-to-end.</p>
            <div class="d-flex gap-3 justify-content-center flex-wrap">
              <a class="theme-btn" [routerLink]="['/services', category.slug]">See Our {{ category.name }} Service<i class="fas fa-arrow-right"></i></a>
              <a class="theme-btn" routerLink="/contactus">Contact Us<i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</ng-container>
