


        <!-- skill-area -->
        <div class="skill-area pb-120">
            <div class="container">
                <div class="skill-wrap">
                    <div class="row g-4 align-items-center">
                        <div class="col-lg-6">
                            <div class="skill-img wow fadeInLeft" data-wow-delay=".25s">
                                <img [src]="skills?.image" alt="thumb">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="skill-content wow fadeInUp" data-wow-delay=".25s">
                                <span class="site-title-tagline"><i class="far fa-helmet-safety"></i> {{ skills?.tagline }}</span>
                                <h2 class="site-title" [innerHTML]="titleHtml"></h2>
                                <p class="skill-text">
                                    {{ skills?.text }}
                                </p>
                                <div class="skill-progress">
                                    <div class="progress-item" *ngFor="let bar of skills?.skills">
                                        <h5>{{ bar.label }} <span class="percent">{{ bar.percent }}%</span></h5>
                                        <div class="progress" [attr.data-value]="bar.percent">
                                            <div class="progress-bar" role="progressbar"></div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="theme-btn mt-5">Learn More<i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- skill area end -->